  .guess-body {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }

  .guess-square {
    margin-right: auto;
    margin-left: auto;
    height: 250px;
    width: 250px;
  }
  