  .display-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .display-window {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 25px;
    width: 55%;
    height: 350px;
    border: 5px black solid;
  }